/node_modules
/dist

## REACT EXAMPLE

# dependencies
/example/react/node_modules
/example/react//.pnp
/example/react/.pnp.js

# testing
/example/react/coverage

# production
/example/react/build

# misc
/example/react/.DS_Store
/example/react/.env.local
/example/react/.env.development.local
/example/react/.env.test.local
/example/react/.env.production.local

/example/react/npm-debug.log*
/example/react/yarn-debug.log*
/example/react/yarn-error.log*
